################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PiiScanner.Application/bin/Debug/net8.0/PiiScanner.Application.dll
/PiiScanner.Application/bin/Debug/net8.0/PiiScanner.Application.pdb
/PiiScanner.Application/bin/Debug/net8.0/PiiScanner.Domain.dll
/PiiScanner.Application/bin/Debug/net8.0/PiiScanner.Domain.pdb
/PiiScanner.API/bin/Debug/net8.0/runtimes/linux/native/libmongocrypt.so
/PiiScanner.API/bin/Debug/net8.0/runtimes/osx/native/libmongocrypt.dylib
/PiiScanner.API/bin/Debug/net8.0/runtimes/win/native/mongocrypt.dll
/PiiScanner.API/bin/Debug/net8.0/appsettings.json
/PiiScanner.API/bin/Debug/net8.0/AWSSDK.SecurityToken.dll
/PiiScanner.API/bin/Debug/net8.0/DnsClient.dll
/PiiScanner.API/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/PiiScanner.API/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/PiiScanner.API/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/PiiScanner.API/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/PiiScanner.API/bin/Debug/net8.0/MongoDB.Bson.dll
/PiiScanner.API/bin/Debug/net8.0/MongoDB.Driver.Core.dll
/PiiScanner.API/bin/Debug/net8.0/MongoDB.Driver.dll
/PiiScanner.API/bin/Debug/net8.0/MongoDB.Libmongocrypt.dll
/PiiScanner.API/bin/Debug/net8.0/PiiScanner.API.deps.json
/PiiScanner.API/bin/Debug/net8.0/PiiScanner.API.dll
/PiiScanner.API/bin/Debug/net8.0/PiiScanner.API.exe
/PiiScanner.API/bin/Debug/net8.0/PiiScanner.API.pdb
/PiiScanner.API/bin/Debug/net8.0/PiiScanner.Application.dll
/PiiScanner.API/bin/Debug/net8.0/PiiScanner.Application.pdb
/PiiScanner.API/bin/Debug/net8.0/PiiScanner.Domain.dll
/PiiScanner.API/bin/Debug/net8.0/PiiScanner.Domain.pdb
/PiiScanner.API/bin/Debug/net8.0/PiiScanner.Infrastructure.dll
/PiiScanner.API/bin/Debug/net8.0/PiiScanner.Infrastructure.pdb
/PiiScanner.API/bin/Debug/net8.0/SharpCompress.dll
/PiiScanner.API/bin/Debug/net8.0/Snappier.dll
/PiiScanner.API/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/PiiScanner.API/bin/Debug/net8.0/ZstdSharp.dll
/PiiScanner.Domain/obj/Debug/net8.0/ref/PiiScanner.Domain.dll
/PiiScanner.Domain/obj/Debug/net8.0/refint/PiiScanner.Domain.dll
/PiiScanner.Domain/obj/Debug/net8.0/PiiScanner.Domain.AssemblyInfo.cs
/PiiScanner.Domain/obj/Debug/net8.0/PiiScanner.Domain.AssemblyInfoInputs.cache
/PiiScanner.Domain/obj/Debug/net8.0/PiiScanner.Domain.assets.cache
/PiiScanner.Domain/obj/Debug/net8.0/PiiScanner.Domain.csproj.CoreCompileInputs.cache
/PiiScanner.Domain/obj/Debug/net8.0/PiiScanner.Domain.csproj.FileListAbsolute.txt
/PiiScanner.Domain/obj/Debug/net8.0/PiiScanner.Domain.dll
/PiiScanner.Domain/obj/Debug/net8.0/PiiScanner.Domain.GeneratedMSBuildEditorConfig.editorconfig
/PiiScanner.Domain/obj/Debug/net8.0/PiiScanner.Domain.pdb
/PiiScanner.Domain/obj/Debug/net8.0/PiiScanner.Domain.sourcelink.json
/PiiScanner.Domain/obj/PiiScanner.Domain.csproj.nuget.dgspec.json
/PiiScanner.Domain/obj/PiiScanner.Domain.csproj.nuget.g.props
/PiiScanner.Domain/obj/project.assets.json
/PiiScanner.Domain/obj/project.nuget.cache
/PiiScanner.Infrastructure/obj/Debug/net8.0/PiiScanner.Infrastructure.AssemblyInfo.cs
/PiiScanner.Infrastructure/obj/Debug/net8.0/PiiScanner.Infrastructure.AssemblyInfoInputs.cache
/PiiScanner.Infrastructure/obj/Debug/net8.0/PiiScanner.Infrastructure.assets.cache
/PiiScanner.Infrastructure/obj/Debug/net8.0/PiiScanner.Infrastructure.csproj.AssemblyReference.cache
/PiiScanner.Infrastructure/obj/Debug/net8.0/PiiScanner.Infrastructure.csproj.CoreCompileInputs.cache
/PiiScanner.Infrastructure/obj/Debug/net8.0/PiiScanner.Infrastructure.csproj.FileListAbsolute.txt
/PiiScanner.Infrastructure/obj/Debug/net8.0/PiiScanner.Infrastructure.dll
/PiiScanner.Infrastructure/obj/Debug/net8.0/PiiScanner.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/PiiScanner.Infrastructure/obj/Debug/net8.0/PiiScanner.Infrastructure.pdb
/PiiScanner.Infrastructure/obj/Debug/net8.0/PiiScanner.Infrastructure.sourcelink.json
/PiiScanner.Infrastructure/obj/Debug/net8.0/refint/PiiScanner.Infrastructure.dll
/PiiScanner.Infrastructure/obj/PiiScanner.Infrastructure.csproj.nuget.dgspec.json
/PiiScanner.Infrastructure/obj/PiiScanner.Infrastructure.csproj.nuget.g.props
/PiiScanner.Infrastructure/obj/project.assets.json
/PiiScanner.Infrastructure/obj/project.nuget.cache
/PiiScanner.Infrastructure/bin/Debug/net8.0/PiiScanner.Domain.dll
/PiiScanner.Infrastructure/bin/Debug/net8.0/PiiScanner.Domain.pdb
/PiiScanner.Infrastructure/bin/Debug/net8.0/PiiScanner.Infrastructure.deps.json
/PiiScanner.Infrastructure/bin/Debug/net8.0/PiiScanner.Infrastructure.dll
/PiiScanner.Infrastructure/bin/Debug/net8.0/PiiScanner.Infrastructure.pdb
/PiiScanner.Infrastructure/obj/Debug/net8.0/ref/PiiScanner.Infrastructure.dll
/PiiScanner.Domain/bin/Debug/net8.0/PiiScanner.Domain.dll
/PiiScanner.Domain/bin/Debug/net8.0/PiiScanner.Domain.pdb
/PiiScanner.Application/obj/Debug/net8.0/PiiScanner.Application.AssemblyInfo.cs
/PiiScanner.Application/obj/Debug/net8.0/PiiScanner.Application.AssemblyInfoInputs.cache
/PiiScanner.Application/obj/Debug/net8.0/PiiScanner.Application.assets.cache
/PiiScanner.Application/obj/Debug/net8.0/PiiScanner.Application.csproj.AssemblyReference.cache
/PiiScanner.Application/obj/Debug/net8.0/PiiScanner.Application.csproj.CoreCompileInputs.cache
/PiiScanner.Application/obj/Debug/net8.0/PiiScanner.Application.csproj.FileListAbsolute.txt
/PiiScanner.Application/obj/Debug/net8.0/PiiScanner.Application.dll
/PiiScanner.Application/obj/Debug/net8.0/PiiScanner.Application.GeneratedMSBuildEditorConfig.editorconfig
/PiiScanner.Application/obj/Debug/net8.0/PiiScanner.Application.pdb
/PiiScanner.Application/obj/Debug/net8.0/PiiScanner.Application.sourcelink.json
/PiiScanner.Application/obj/Debug/net8.0/ref/PiiScanner.Application.dll
/PiiScanner.Application/obj/Debug/net8.0/refint/PiiScanner.Application.dll
/PiiScanner.Application/obj/PiiScanner.Application.csproj.nuget.dgspec.json
/PiiScanner.Application/obj/PiiScanner.Application.csproj.nuget.g.props
/PiiScanner.Application/obj/project.assets.json
/PiiScanner.Application/obj/project.nuget.cache
/PiiScanner.Worker/bin/Debug/net8.0/appsettings.Development.json
/PiiScanner.Worker/bin/Debug/net8.0/appsettings.json
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Configuration.CommandLine.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Configuration.UserSecrets.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Hosting.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Logging.Configuration.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Logging.Console.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Logging.Debug.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventLog.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventSource.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/PiiScanner.Worker/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/PiiScanner.Worker/bin/Debug/net8.0/PiiScanner.Application.dll
/PiiScanner.Worker/bin/Debug/net8.0/PiiScanner.Application.pdb
/PiiScanner.Worker/bin/Debug/net8.0/PiiScanner.Domain.dll
/PiiScanner.Worker/bin/Debug/net8.0/PiiScanner.Domain.pdb
/PiiScanner.Worker/bin/Debug/net8.0/PiiScanner.Worker.deps.json
/PiiScanner.Worker/bin/Debug/net8.0/PiiScanner.Worker.dll
/PiiScanner.Worker/bin/Debug/net8.0/PiiScanner.Worker.exe
/PiiScanner.Worker/bin/Debug/net8.0/PiiScanner.Worker.pdb
/PiiScanner.Worker/bin/Debug/net8.0/PiiScanner.Worker.runtimeconfig.json
/PiiScanner.Worker/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll
/PiiScanner.Worker/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.Messages.dll
/PiiScanner.Worker/bin/Debug/net8.0/System.Diagnostics.EventLog.dll
/PiiScanner.API/obj/Debug/net8.0/ApiEndpoints.json
/PiiScanner.API/obj/Debug/net8.0/apphost.exe
/PiiScanner.API/obj/Debug/net8.0/EndpointInfo/PiiScanner.API.json
/PiiScanner.API/obj/Debug/net8.0/PiiScanner.API.AssemblyInfo.cs
/PiiScanner.API/obj/Debug/net8.0/PiiScanner.API.AssemblyInfoInputs.cache
/PiiScanner.API/obj/Debug/net8.0/PiiScanner.API.assets.cache
/PiiScanner.API/obj/Debug/net8.0/PiiScanner.API.csproj.AssemblyReference.cache
/PiiScanner.API/obj/Debug/net8.0/PiiScanner.API.csproj.CoreCompileInputs.cache
/PiiScanner.API/obj/Debug/net8.0/PiiScanner.API.csproj.FileListAbsolute.txt
/PiiScanner.API/obj/Debug/net8.0/PiiScanner.API.dll
/PiiScanner.API/obj/Debug/net8.0/PiiScanner.API.GeneratedMSBuildEditorConfig.editorconfig
/PiiScanner.API/obj/Debug/net8.0/PiiScanner.API.genruntimeconfig.cache
/PiiScanner.API/obj/Debug/net8.0/PiiScanner.API.pdb
/PiiScanner.API/obj/Debug/net8.0/PiiScanner.API.sourcelink.json
/PiiScanner.API/obj/Debug/net8.0/ref/PiiScanner.API.dll
/PiiScanner.API/obj/Debug/net8.0/refint/PiiScanner.API.dll
/PiiScanner.API/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/PiiScanner.API/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/PiiScanner.API/obj/Debug/net8.0/rpswa.dswa.cache.json
/PiiScanner.API/obj/PiiScanner.API.csproj.nuget.dgspec.json
/PiiScanner.API/obj/PiiScanner.API.csproj.nuget.g.props
/PiiScanner.API/obj/PiiScanner.API.csproj.nuget.g.targets
/PiiScanner.API/obj/project.assets.json
/PiiScanner.API/obj/project.nuget.cache
/PiiScanner.Worker/obj/Debug/net8.0/apphost.exe
/PiiScanner.Worker/obj/Debug/net8.0/PiiScann.571DFB27.Up2Date
/PiiScanner.Worker/obj/Debug/net8.0/PiiScanner.Worker.AssemblyInfo.cs
/PiiScanner.Worker/obj/Debug/net8.0/PiiScanner.Worker.AssemblyInfoInputs.cache
/PiiScanner.Worker/obj/Debug/net8.0/PiiScanner.Worker.assets.cache
/PiiScanner.Worker/obj/Debug/net8.0/PiiScanner.Worker.csproj.AssemblyReference.cache
/PiiScanner.Worker/obj/Debug/net8.0/PiiScanner.Worker.csproj.CoreCompileInputs.cache
/PiiScanner.Worker/obj/Debug/net8.0/PiiScanner.Worker.csproj.FileListAbsolute.txt
/PiiScanner.Worker/obj/Debug/net8.0/PiiScanner.Worker.dll
/PiiScanner.Worker/obj/Debug/net8.0/PiiScanner.Worker.GeneratedMSBuildEditorConfig.editorconfig
/PiiScanner.Worker/obj/Debug/net8.0/PiiScanner.Worker.genruntimeconfig.cache
/PiiScanner.Worker/obj/Debug/net8.0/PiiScanner.Worker.pdb
/PiiScanner.Worker/obj/Debug/net8.0/PiiScanner.Worker.sourcelink.json
/PiiScanner.Worker/obj/Debug/net8.0/ref/PiiScanner.Worker.dll
/PiiScanner.Worker/obj/Debug/net8.0/refint/PiiScanner.Worker.dll
/PiiScanner.Worker/obj/PiiScanner.Worker.csproj.nuget.dgspec.json
/PiiScanner.Worker/obj/PiiScanner.Worker.csproj.nuget.g.props
/PiiScanner.Worker/obj/project.assets.json
/PiiScanner.Worker/obj/project.nuget.cache
